@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login Success!</h1>
@*    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="236723857370-1ch0smon01cvc27id5spmh2fc6cbkvps.apps.googleusercontent.com"
         data-login_uri="https://localhost:7113/ValidGoogleLogin"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>*@
    <div>@Html.Raw(ViewData["Msg"])</div>
</div>
